
<h1>InThaLoop</h1>

<form method='POST'>
  {{ form.hidden_tag() }}

  {{ form.timedeparted.label }} <br> {{ form.timedeparted() }}
  <br>
  <br>
  {{ form.location.label }} <br> {{ form.location() }}
  <br>
  <br>
  {{ form.carplate.label }} <br> {{ form.carplate() }}
  <br>
  <br>
  {{ form. phonenumber.label }} <br> {{ form.phonenumber() }}
  <br>
  <br>
  {{ form.select.label }} <br> {{ form.select() }}
  <br>
  <br>
  {{ form.relationship.label }} <br> {{ form.relationship() }}
  <br>
  {{ form.event.label }} <br> {{ form.event() }}
  <br>
  {{ form.feedback.label }} <br> {{ form.feedback() }}
  <br>
  <br>
  {{ form.enter() }}

</form>