<!DOCTYPE html>
<html lang="en">
<head>
  <title>TAACS</title>
    <meta name="viewport">
<link rel="stylesheet" href="C:\Users\mubaluny\PycharmProjects\onetaacsone\templates\welcome.css">

<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
</style>
</head>

<body>
<h1>TAACS</h1>

<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li style="float:right"><a href="#about">About</a></li>
    <li style="float:right"><a href="#Archietcture">Architecture</a></li>
</ul>

  <h2>Technology as a Cloud  Service </h2>
  <div class="tit">
  <h4>Cloud Consulting Made Easy from Both <strong>Strategic</strong> and <strong> Tactical </strong> Perspectives</h4>
      <input type="submit" name="" value="Sing Up For News Letter">
</div>

<br>
  <form action="https://facebook.com" method="get">

    <label for="emailtag"> <strong> EMAIL:</strong> </label>
    <input id="emailtag" type="email" name="useremail" placeholder="Emailhere">
    <label for="passtag"> <strong>PASSWORD:</strong></label>
    <input id="passtage" type="password" name="password" placeholder="Password">
    <input type="submit" name="" value="Log In">

  </form>
 <h4>Click On Our Services & Learn More </h4>
  <div class="titone">
    <p><strong> Azure Architecture</strong> </p>
  </div>

   <div class="tittwo">
       <p><strong> Azure Networking</strong> </p>
  </div>

   <div class="titthree">
    <p><strong> DevSecOps </strong> </p>
  </div>

  <div class="titfour">
    <p><strong>Azure Migrations</strong></p>
  </div>
    <div class="titfive">
    <p> <strong>Azure Security</strong></p>
    </div>

  <h2>Consulting Offer Types </h2>

 <div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
  <label class="form-check-label" for="flexRadioDefault1">
    Pay As You Go
  </label>
</div>

  <div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
  <label class="form-check-label" for="flexRadioDefault1">
    On Demand
  </label>
</div>

   <div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
  <label class="form-check-label" for="flexRadioDefault1">
    Reservations
  </label>
</div>

  <br>
  <div class="titsix">
      <br>
      <input type="submit" name="" value="Learn More or Schedule An Appointment">
</div>

</body>
</html>